<section class="artist">
    <div class="row ms-2">
    {{#each artists as |artist|}}
        <div class="col">
            <img class="mt-3 group-image" src="{{artist.image_med}}">
            <a style="font-size: large;" href="/artists/{{artist.id}}" class="artist-name d-block">{{artist.artist_name}}</a>
            <div class="artist-details">
            </div>
        </div>
    {{/each}}
    </div>


    {{#if artist}}
    <div class="row mt-2">
        <div class="col">
            <img class="solo-image" src="{{artist.image_big}}">
        </div>
        <div class="col">
            <h1 class="artist-name my-2">Artist Name: {{artist.artist_name}}</h1>
            <h3 class="my-2">Your selected songs:</h3>
            {{#each artist.songs as |song|}}
            {{> artist-details}}
            {{/each}}    
            <h3 class="my-2">Your selected albums:</h3>
            {{#each artist.albums as |album|}}
            {{> album-details}}
            {{/each}}    
            <h3 class="my-2">{{artist.artist_name}}'s Top 50 API:</h3>      
            <a target="_blank" href="{{artist.artist_songs}}">{{artist.artist_songs}}</h4>
            <br>
            <h3 class="my-2">{{artist.artist_name}}'s Deezer Page:</h3>      
            <a class="my-2" target="_blank" href="https://deezer.com/us/artist/{{artist.artist_id}}">https://deezer.com/us/artist/{{artist.artist_id}}</a>
        </div>
    </div>
    {{/if}}
</section>
